body{
  background: #EFF2F6;
}
ol{
    padding-left: 10px;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
td {
  padding: 1rem; 
}
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{238636};
  --bs-btn-border-color: #{238636};
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(238636, 10%)};
  --bs-btn-hover-border-color: #{shade-color(238636, 10%)};
  --bs-btn-focus-shadow-rgb: #{238636};
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(238636, 20%)};
  --bs-btn-active-border-color: #{shade-color(238636, 20%)};
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.card-header{
height: 67px;
}
 .wrap {
  position: relative;
  overflow-x: auto;
  width: 100%;
  max-width: 100%; 
}

.repo-wrapper{
  background: var(--bs-body-color);
  color: white;
  margin: 0 auto;
}
.github-card{
  max-width: 450px;
  width: 100%;
}
.github-card a{
text-decoration: none;

}
.description{
  margin: 0 auto;
  
}
.repo-card{
  flex-direction: column;
}
.git-description{
  flex: 1 1 auto;
}
.name-link,.repo-name-link{
  color: black;
}
.name-link:hover,.repo-name-link:hover{
  color: black;
  text-decoration: underline;
  transition: all ease-in-out 2s;
}
.sub-name-link{
  color: #707070;
  font-size: 16px
}
.sub-name-link:hover{
  color: #4183c4; 
}
.status a, .footer a{
color: #707070;
}
.status a:hover{
color: #4183c4;
}
.git-description a{
  color: #4183c4;
}
.git-description a:hover{
  text-decoration: underline;
}
.footer a:hover{
text-decoration: underline;
}
.git-description,.footer{
  color: #707070;
  font-size: 12px;
}
.btn-follow{
  height: 40px;
}
.expiration-card{
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 479px) {
  .sidebar{
    display: none!important;
  }
 .margin-top {
    margin-top: 98px;
  }
  .btn-follow{
    margin: 0 auto;
  }
  .user-name{
    margin: 0 auto;
  }
}
@media (min-width: 979px) {
  .description{
    max-width: 80%;
  }
  /* .description{
    max-height: 50%;
  } */
}
@media (min-width: 379px) {
  .margin-top {
    margin-top: 98px;
  } 
}
