.card-header{
height: 67px;
}
 .wrap {
  position: relative;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  
}
ol{
    padding-left: 10px;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

td {
  padding: 1rem;
  
}
@media (min-width: 379px) {
  .margin-top {
    margin-top: 98px;
  }
}
